.imgoriginal {
  width: 11.5rem;
  height: 17.5rem;
}
.carousel-control-next {
  margin-top: 5rem;
}
@media screen and (min-width: 390px) {
  .imgoriginal {
    width: 2.1rem;
    height: 4rem;
  }
}
@media screen and (min-width: 414px) {
  .imgoriginal {
    width: 2.25rem;
    height: 4rem;
  }
}
@media screen and (min-width: 540px) {
  .imgoriginal {
    width: 2.8rem;
    height: 5.2rem;
  }
}
@media screen and (min-width: 736px) {
  .imgoriginal {
    width: 4.2rem;
    height: 7rem;
  }
}
@media screen and (min-width: 768px) {
  .imgoriginal {
    width: 4.5rem;
    height: 7rem;
  }
}
@media screen and (min-width: 800px) {
  .imgoriginal {
    width: 4.8rem;
    height: 7rem;
  }
}
@media screen and (min-width: 820px) {
  .imgoriginal {
    width: 4.8rem;
    height: 7rem;
  }
}
@media screen and (min-width: 844px) {
  .imgoriginal {
    width: 5rem;
    height: 7.5rem;
  }
}
@media screen and (min-width: 896px) {
  .imgoriginal {
    width: 5.2rem;
    height: 7.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .imgoriginal {
    width: 6rem;
    height: 9rem;
  }
}
@media screen and (min-width: 1180px) {
  .imgoriginal {
    width: 7.8rem;
    height: 10rem;
  }
}
@media screen and (min-width: 1208px) {
  .imgoriginal {
    width: 8rem;
    height: 10rem;
  }
}
@media screen and (min-width: 1366px) {
  .imgoriginal {
    width: 8.2rem;
    height: 12.8rem;
  }
}
@media screen and (min-width: 1600px) {
  .imgoriginal {
    width: 9.5rem;
    height: 12.8rem;
  }
}
@media screen and (min-width: 1680px) {
  .imgoriginal {
    width: 10rem;
    height: 13.8rem;
  }
}
@media screen and (min-width: 1920px) {
  .imgoriginal {
    width: 11.5rem;
    height: 17.5rem;
  }
}

.flex-container1 {
  display: flex;
  background-color: DodgerBlue;
}

.flex-container1 > div {
  background-color: #f1f1f1;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
.bump:hover {
  animation: bump 1000ms ease-out;
}
@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
